html{height:100%;}
body{height:100%;margin:10px;padding:10px;background:#6b8c96;}
dt{display:inline;}
dd{display:inline;}
#flash_messages{background-color:#ff0;}
#map_canvas{width:600px;height:400px;}
li{list-style:none;}
.nav li{display:inline;padding-right:1em;}
form label{display:inline-block;vertical-align:top;width:2em;}
form fieldset{border:none;}form fieldset label{display:block;width:auto;}
