<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Checkin Mapper{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/style.css" />
    {#<link rel="stylesheet/less" href="/static/css/style.less" />
    <script src="/static/javascripts/less.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        less.env = "development";
        less.watch();
    </script>#}
    <script src="http://www.google.com/jsapi?key={{ settings.google.jsapi_key }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% include 'header.html' %}
    <div id="flash_messages">
      <ul>
        {% for msg in get_flashed_messages() %}
        <li>{{ msg }}</li>
        {% endfor %}
      </ul>
    </div>
    <div id="content-container">
    {% block content %}{% endblock %}
    </div>
    {% block extrabody %}{% endblock %}
  </body>
</html>
